version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: 'Setup'
          command: |
            uv venv --python 3.9 /usr/local/share/virtualenvs/tap-harvest
            source /usr/local/share/virtualenvs/tap-harvest/bin/activate
            uv pip install .
            uv pip install pylint
      - run:
          name: 'Pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-harvest/bin/activate
            pylint tap_harvest --disable missing-docstring,logging-format-interpolation,no-member,broad-except,too-many-branches,too-few-public-methods,wrong-import-order,too-many-locals,consider-using-f-string,broad-exception-raised,too-many-positional-arguments
      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-harvest/bin/activate
            uv pip install pytest coverage
            coverage run -m pytest tests/unittests
            coverage html
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
      - add_ssh_keys
      - run:
          name: 'Integration Tests'
          no_output_timeout: 30m
          command: |
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            uv pip install --upgrade awscli
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            run-test --tap=tap-harvest tests

workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - update/harvest-circle-config
                #- master
    jobs:
      - build:
          context: circleci-user
